<div class="subnavbar">
  <div class="subnavbar-inner">
    <div class="container">
      <ul class="mainnav">
        <li class="active">
          <a href="/dashboards">
            <i class="icon-home"></i>
            <span>Home</span>
          </a>              
        </li>

        <li class="dropdown">         
          <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
            <i class="icon-user"></i>
            <span>Users</span>
            <b class="caret"></b>
          </a>  
        
          <ul class="dropdown-menu">
            <li><a><%= link_to 'List Users', users_path %></a></li>
            <li><a><%= link_to 'List Physicians', physicians_path %></a></li>
            <li class="divider"></li>
            <li><a><%= link_to 'Add User', new_user_path %></a></li>
            <li><a><%= link_to 'Add Physician', new_physician_path %></a></li>
          </ul>           
        </li>

        <li class="dropdown">         
          <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
            <i class="icon-plus-sign"></i>
            <span>Patients</span>
            <b class="caret"></b>
          </a>  
        
          <ul class="dropdown-menu">
            <li><a><%= link_to 'List Patients', patients_path %></a></li>
            <li class="divider"></li>
            <li><a><%= link_to 'Add Patient', new_patient_path %></a></li>
            <li><a><%= link_to 'Search for Patient', new_patient_path %></a></li>
          </ul>           
        </li>

        <li class="dropdown">         
          <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
            <i class="icon-calendar"></i>
            <span>Appointments</span>
            <b class="caret"></b>
          </a>  
        
          <ul class="dropdown-menu">
            <li><a><%= link_to 'List Appointments', appointments_path %></a></li>
            <li class="divider"></li>
          </ul>           
        </li>
        
        <li class="dropdown">         
          <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
            <i class="icon-share-alt"></i>
            <span>More Pages</span>
            <b class="caret"></b>
          </a>  
        
          <ul class="dropdown-menu">
            <li><a href="./charts.html">Charts</a></li>
            <li><a href="./account.html">User Account</a></li>
            <li class="divider"></li>
            <li><a href="./login.html">Login</a></li>
            <li><a href="./signup.html">Signup</a></li>
            <li><a href="./error.html">Error</a></li>
          </ul>           
        </li>
      </ul>
    </div> <!-- /container -->
  </div> <!-- /subnavbar-inner -->
</div> <!-- /subnavbar -->